<h1>Recipes</h1>
<div class="name small-centered small-11 columns">
  <ul class="index-list small-block-grid-1 large-block-grid-3">
    <%@recipes.each do |recipe|%>
      <li><%= link_to(recipe_path(recipe)) do %>
        <div class="panel index-tile">
          <h4><%=recipe.title%></h4>
          <%if recipe.variations.count >1%>
            <h6><%=recipe.variations.count%> Variations</h6>
          <%elsif recipe.variations.count == 1%>
            <h6><%=recipe.variations.count%> Variation</h6>
          <%else%>
            <h6>No Variations</h6>
          <%end%>
        </div>
      <% end %>
      </li>
    <%end%>
  </ul>
  <%= link_to(new_recipe_path) do %>
    <button class="button" type="button">Add A New Recipe</button>
  <% end %>

</div>
