<div class="small-11 small-centered columns">
  <div class="variation-tabs">
    <div class="tab empty"></div>
  </div>
  <div class="panel recipe-show-pane">
    <%= form_for(@recipe) do |f| %>
      <div class="row">
      <div class="field small-centered small-7 columns">
        <%= f.text_field :title, placeholder: "Title" %>
      </div>
    </div>
      <div class="row">
        <div class="field small-6 columns">
          <%= f.text_field :source, placeholder: "Source"%>
        </div>
        <div class="field small-6 columns">
          <%= f.text_field :servings_made, placeholder: "Servings Made"%>
        </div>
      </div>
      <div class="field">
        <%= f.text_field :description, placeholder: "Description"%>
      </div>
      <div class="field">
        <%= f.text_area :body, placeholder: "Ingredients and Steps", rows:"15"%>
      </div>
      <div class="actions small-centered">
        <%= f.submit "Submit", class: "button variation-button" %>
      </div>
    <% end %>
  </div>
</div>
